{% extends 'base.html' %}

{% block body %}
	<div class="row">
		<h1 class="medium-8 small-12 small-centered columns text-center">Welcome to graduation project</h1>
	</div>
	<div class ="row">
		<div class="small-6 small-centered large-centered columns">
			<ul class="stack-for-small round button-group center">
				<li><a href="/D3/" class="button">D3</a></li>
				<li><a href="/Visjs/" class="button">Vis.js</a></li>
				<li><a href="/Mindmup/" class="button">Mindmup</a></li>
			</ul>
		</div>
	</div>
{% endblock %}