{% extends 'base.html' %}

{% block body %}
	<div class="navigationbar">
		<div id="appname">Symapse</div>
	</div>
	<div class = "query_box">
		<form method="get" action="/query/">
		<label for="query_textbox" id = "query_label">Type your query here!</label>
			<input class="form-control" id="query_textbox" placeholder="Enter a query" name="query">
		</form>
	</div>
	{% if json %}
		<div id="json" style="visibility: hidden"> {{ json }}</div>
		<div id="mynetwork">
	{% endif %}
	</div>
{% endblock %}

{% block JS_INCLUDE %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.12.0/vis.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.12.0/vis.min.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/static/parsetree/vis_js_hierarchical_layout.js"></script>
{% endblock %}