{% extends 'base.html' %}

{% block body %}
	<div class="navigationbar">
		<div id="appname">Symapse</div>
	</div>
	<div class = "query_box">
		<form method="get" action="/query/">
		<label for="query_textbox" id = "query_label">Type your query here!</label>
			<input class="form-control" id="query_textbox" placeholder="Enter a query" name="query">
		</form>
		<label id="error_label" style="visibility: hidden">Error parsing this sentence</label>
	</div>
	{% if json %}
		<div id="mynetwork"></div>
		<div id="json" style="display: none"> {{ json }}</div>
	{% endif %}
	</div>
{% endblock %}

{% block JS_INCLUDE %}
<link rel='stylesheet' type='text/css' href='/static/CSS/style.css'/>
<style type="text/css">
	.link {
	  stroke: #6DA69E;
	  stroke-opacity: .9;
		fill: none;
		stroke: url(#line-gradient);
		stroke-width: 15px;
	}

	.linkPassive {
	    stroke: #6DA69E;
	  	stroke-opacity: .9;
		fill: none;
		stroke: url(#line-gradient);
		stroke-width: 10px;
		stroke-dasharray: 2, 4;
	}
	.linkPath {
	    stroke: #6DA69E;
	  	stroke-opacity: .9;
		fill: none;
		stroke: url(#line-gradient);
		stroke-width: 10px;
		stroke-dasharray: 2, 4;
	}
</style>
<link rel="stylesheet" type="text/css" href="/static/d3/d3cssfile.css">
<script type="text/javascript" src="/static/d3/d3.v3.js"></script>
<script type="text/javascript" src="/static/d3/d3-plugins-master/fisheye/fisheye.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/functions.js"></script>
<script type="text/javascript" src="/static/js/nodeAnimations.js"></script>
<script type="text/javascript" src="/static/js/converter.js"></script>
<script type="text/javascript" src="/static/js/MindMap.js"></script>
<script type="text/javascript">

window.onload = function () {
	var w = $(document).width();
	var h = $(document).height();
	if (!document.getElementById("json")) return;
	var json_text = document.getElementById("json").innerHTML;
	json_obj = JSON.parse(json_text);
	if (!json_obj.success) {
		json_obj = framesFirst(JSON.parse(json_text));
		console.log(JSON.stringify(json_obj, null, 4));
	} else {
		return;
	}
	var myMindMap = MindMap();
	root = json_obj;
	root.fixed = true;
	root.x = w/2;
	root.y = h/2;

	myMindMap(root)
	console.log('Width = ' + w + ', height= ' + h);
};
</script>
{% endblock %}