body{
	/* Permalink - use to edit and share this gradient: 
	http://colorzilla.com/gradient-editor/#f2e3d1+81,6da69e+100 */
background: #f2e3d1; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #f2e3d1 81%, #6da69e 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #f2e3d1 81%,#6da69e 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #f2e3d1 81%,#6da69e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e3d1', endColorstr='#6da69e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}
